<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import keras
import tensorflow as tf
from keras import models, layers, optimizers, regularizers
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from keras.preprocessing import image
import seaborn as sns
from sklearn.metrics import roc_curve, auc, precision_score, recall_score, accuracy_score, f1_score, confusion_matrix, classification_report, roc_auc_score
np.random.seed(123)

Using TensorFlow backend.

Attribute Information

    1) id: unique identifier

    2) gender: "Male", "Female" or "Other"

    3) age: age of the patient

    4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension

    5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease

    6) ever_married: "No" or "Yes"

    7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"

    8) Residence_type: "Rural" or "Urban"

    9) avg_glucose_level: average glucose level in blood

    10) bmi: body mass index

    11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*

    12) stroke: 1 if the patient had a stroke or 0 if not

*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

# Data Cleaning

In [3]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
age                  5110 non-null float64
hypertension         5110 non-null int64
heart_disease        5110 non-null int64
ever_married         5110 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
bmi                  4909 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

As we can see above we need to convert the columns gender, hypertension, heart_disease, ever_married, work_type, residence_type, and smoking status to dummy variables. But before we do that let's clean up the data.